body {
  font-family: "Arial", sans-serif;
  margin: 80px;
}

#main {
  display: inline-block;
  width: 100%;
}

#fotoperfil {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

#apresentacao h1,
h3,
h4 {
  margin: 0;
  display: inline-block;
}

#contato,
#formacao-cursos {
  margin-top: 20px;
}

#contato h2,
#formacao-cursos h2 {
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
}

#contato p,
#formacao-cursos p {
  margin: 0;
}

#atividades-experiencias p {
  margin-top: 20px;
}
li {
  text-align: justify;
  padding: 0;
  margin: 30px 0;
}
